{
  "log": {
    "_recordingName": "config-manager/push/raw/0_p_i_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "21236a61bed93696a4d52208b5ab3bc6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"enabled\":true,\"instanceCheckInInterval\":5000,\"instanceCheckInOffset\":0,\"instanceId\":\"&{openidm.node.id}\",\"instanceRecoveryTimeout\":30000,\"instanceTimeout\":30000}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/cluster"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 179,
            "text": "{\"_id\":\"cluster\",\"enabled\":true,\"instanceCheckInInterval\":5000,\"instanceCheckInOffset\":0,\"instanceId\":\"&{openidm.node.id}\",\"instanceRecoveryTimeout\":30000,\"instanceTimeout\":30000}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 31,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
