{
  "log": {
    "_recordingName": "agent/import/0_i_f/oauth2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ff75519a93ccab829f8ee8cf5e92b49f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-23ff53f2-a1fe-4456-91ad-f8c7313ecfbb"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "assertion=<assertion jwt token>&client_id=service-account&grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer&scope=fr:am:* fr:idc:analytics:* fr:idc:direct-configuration:session:* fr:autoaccess:* fr:idc:certificate:* fr:idc:content-security-policy:* fr:idc:cookie-domain:* fr:idc:custom-domain:* fr:idc:dataset:* fr:idc:esv:* fr:idm:* fr:iga:* fr:idc:promotion:* fr:idc:release:* fr:idc:sso-cookie:* fr:idc:proxy-connect:* fr:idc:ws:admin"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/oauth2/access_token"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 66,
            "text": "{\"error_description\":\"Unknown JWT issuer\",\"error\":\"invalid_grant\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-23ff53f2-a1fe-4456-91ad-f8c7313ecfbb"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 64,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
